.app__aboutUs{
    position: relative;
}

.app__aboutUs-overlay {
    position: absolute;
    z-index: 0;
}

.app__aboutUs-overlay img {
    width: 391px;
    height: 415px;
}

.app__aboutUs-content{
    z-index: 1;
    width:  100%;
    
}

.app__aboutUs-content_knife {
    margin: 2rem 4rem;
}

.app__aboutUs-content_knife img{
    height: 910px;
}
.app__aboutUs-content_about,
.app__aboutUs-content_history{
    flex: 1;
}

.app__aboutUs-content_about{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    

}
.app__aboutUs-content_history{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app__aboutUs-content_about p,
.app__aboutUs-content_history p {
    margin: 1.5rem 0;
    color: var(--color-grey);
}

@media screen and (min-width: 2000px) {
    .app__aboutUs-content_knife img{
        height: 1110px;
    }
    .app__aboutUs-content_about p,
    .app__aboutUs-content_history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 1024px) {

    .app__aboutUs-content_about h2,
    .app__aboutUs-content_history h2{
        font-size: 56px;
    }
}

@media screen and (max-width: 900px) {
    .app__aboutUs-content{
        flex-direction: column;
    }
    .app__aboutUs-content_knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 550px) {
        .app__aboutUs-overlay img {
            width: 90%;
            height: 320px;
    }
    .app__aboutUs-content_knife img{
        height: 650px;
    }
    
}